apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vault
  namespace: hashicorp-vault
spec:
  interval: 1h
  chart:
    spec:
      chart: vault
      version: "0.31.0"
      sourceRef:
        kind: HelmRepository
        name: hashicorp
        namespace: hashicorp-vault
      interval: 1h
  values:
    global:
      enabled: true
      namespace: hashicorp-vault
      tlsDisable: true
      psp:
        enable: false
    server:
      affinity: ""
      ha:
        enabled: true
        raft:
          enabled: true
          setNodeId: true
          config: |
            cluster_name = "vault-integrated-storage"
            storage "raft" {
               path    = "/vault/data/"
            }
            listener "tcp" {
               address = "[::]:8200"
               cluster_address = "[::]:8201"
               tls_disable = "true"
            }
            service_registration "kubernetes" {}
    ui:
      enabled: true
      serviceType: "LoadBalancer"
      serviceNodePort: null
      externalPort: 8200
    csi:
      enabled: false
