apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
  namespace: hashicorp-vault
  labels:
    app: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      serviceAccountName: vault
      containers:
        - name: app
          image: hashieducation/simple-vault-client:latest
          imagePullPolicy: Always
          env:
            - name: VAULT_ADDR
              value: "http://vault:8200"
            - name: JWT_PATH
              value: "/var/run/secrets/kubernetes.io/serviceaccount/token"
            - name: SERVICE_PORT
              value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: webapp-lb
  namespace: hashicorp-vault
spec:
  type: LoadBalancer
  selector:
    app: webapp
  ports:
    - name: webapp
      protocol: TCP
      port: 8080
      targetPort: 8080
